    {% extends 'base.html' %}

    {% block content %}
    <!-- Header Section -->
    <section class="container-fluid header">
		<div>
			<!-- <img src="static/images/bg.jpg" alt="background image" class="background img-fluid"> -->
		</div>     
    </section>

  <!--Gallary Section  -->
    <section class="awe-section bg-gray">
	    <div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<!-- title -->
					<div class="title">
					<h1>PRODUCT OVERVIEW </h1> 
					<h3>All Products</h3>
					<hr style="color: #00767b; width: 12%; height: 2px;">
					</div><!-- End / title -->
					
				</div>

				<div class="col-xs-12 col-md-12 gallary">
					<div class="row g-img1">
						<div class="col-xs-12 col-md-3">
							<img src="../../static/images/product-01.png" alt="" class="img-responsive g-img" />
						</div>
						<div class="col-xs-12 col-md-3 ">
							<img src="../../static/images/product-0۲.png" alt="" class="img-responsive g-img" />
						</div>
						<div class="col-xs-12 col-md-3">
							<img src="../../static/images/product-02.png" alt="" class="img-responsive g-img" />
						</div>
						<div class="col-xs-12 col-md-3">
							<img src="../../static/images/product-04.png" alt="" class="img-responsive g-img" />
						</div>
					</div>	
					
					<div class="row g-img2">
						<div class="col-xs-12 col-md-3">
							<img src="../../static/images/product-05.png" alt="" class="img-responsive g-img" />
						</div>
						<div class="col-xs-12 col-md-3 ">
							<img src="../../static/images/product-06.png" alt="" class="img-responsive g-img" />
						</div>
						<div class="col-xs-12 col-md-3 ">
							<img src="../../static/images/product-07.png" alt="" class="img-responsive g-img" />
						</div>
						<div class="col-xs-12 col-md-3 ">
							<img src="../../static/images/product-08.png" alt="" class="img-responsive g-img" />
						</div>
					</div>
				</div>
				<div class="row col-xs-12 col-md-12 read-more" style="text-align: center;">
					<button id="read-more">Load More</button>
				</div>
			</div>
	    </div>
    </section>

<!-- About Section -->
    <!-- <section class="container about" id="about-us">    
    </section> -->
	<div class="container">
		<div class="row p-b-148" style="margin-top: 60px;">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Story
					</h3>
					<hr style="color: #00767b; width: 14%; height: 2px;">
					<p class="stext-113 cl6 p-b-26">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non auctor massa ultrices non. Morbi sed odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas varius egestas diam, eu sodales metus scelerisque congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum eget, dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec augue. Suspendisse potenti. Proin ut est diam. Donec condimentum euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.
					</p>

					<p class="stext-113 cl6 p-b-26">
						Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla turpis in vehicula vehicula. Pellentesque congue ac orci ut gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac ligula. 
					</p>

					<p class="stext-113 cl6 p-b-26">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img style="width: 100%; height: 450px; " class="img-thumbnail img-responsive"  src="../../static/images/banner-01.png" alt="IMG">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top: 60px; margin-bottom: 60px;">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Our Mission
					</h3>
					<hr style="color: #00767b; width: 18%; height: 2px;">
					<p class="stext-113 cl6 p-b-26">
						Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed consectetur erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam maximus mauris sit amet odio convallis, in pharetra magna gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut mauris ligula, volutpat in sodales in, porta non odio. Pellentesque tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin at gravida ante. Mauris auctor purus at lacus maximus euismod. Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero iaculis.
					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
						</p>

						<span class="stext-111 cl8">
							- Steve Job’s 
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img style="width: 100%; height: 450px;" class="img-thumbnail img-responsive" src="../../static/images/banner-03.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}

