{% extends 'base.html' %}

{% block content %}
<!-- Header Section -->
<section class="container-fluid header">
    <div>
        <!-- <img src="static/images/bg.jpg" alt="background image" class="background img-fluid"> -->
    </div>     
</section>

<!--Gallary Section  -->
<section class="awe-section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <!-- title -->
                <div class="title">
                    <h1>PRODUCT OVERVIEW </h1> 
                    <h3>Women's Cloths</h3>
                    <hr style="color: #00767b; width: 16%; height: 2px;">
                </div>
                <!-- End / title -->
            </div>

            <div class="col-xs-12 col-md-12 gallary">
                <div class="row g-img1">
                    <div class="col-xs-12 col-md-3">
                        <img src="../../static/images/w-1.png" alt="" class="img-responsive g-img" />
                    </div>
                    <div class="col-xs-12 col-md-3 ">
                        <img src="../../static/images/w-2.png" alt="" class="img-responsive g-img" />
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <img src="../../static/images/w-3.png" alt="" class="img-responsive g-img" />
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <img src="../../static/images/w-4.png" alt="" class="img-responsive g-img" />
                    </div>
                </div>	
            </div>
            <div class="row col-xs-12 col-md-12 read-more" style="text-align: center;">
                <button id="read-more">Load More</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}

